@model ESII.Models.Projeto
@{
    ViewData["Title"] = "Excluir Projeto";
}

<h2>Excluir Projeto</h2>
<h3>Tem certeza que deseja excluir?</h3>
<div>
    <h4>Nome: @Model.Nome</h4>
    <p>Cliente ID: @Model.ClienteId</p>
    <p>Utilizador Responsável: @Model.UtilizadorId</p>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Excluir</button>
</form>
<a asp-action="Index">Voltar para a Lista</a>